<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/vue.js"></script>
    <link rel="stylesheet" href="/static/index.css">
    <script src="/static/index.js"></script>
    <script src="/static/axios.min.js"></script>
</head>
<body>

<div id="app">

    <el-table :data="statusData" border style="width: 100%">
        <el-table-column prop="name" label="名称">
        </el-table-column>

        <el-table-column label="状态">

            <template slot-scope="scope">
                <span v-if="scope.row.status==1" style="color: green">运行</span>
                <span v-if="scope.row.status==2" style="color: red">停止</span>
            </template>

        </el-table-column>


        <el-table-column prop="cmd" label="命令">
        </el-table-column>

        <el-table-column prop="num" label="进程数">
        </el-table-column>

        <el-table-column label="操作" width="300">
            <template slot-scope="scope">


                <el-button type="success" v-if="scope.row.status==1" @click="reloadProcess(scope.row)">重启</el-button>
                <el-button type="primary" v-if="scope.row.status==2"  @click="startProcess(scope.row)">启动</el-button>
                <el-button type="danger"  v-if="scope.row.status==1" @click="stopProcess(scope.row)">停止</el-button>
                <el-button>查看日志</el-button>

            </template>
        </el-table-column>


    </el-table>

</div>


</body>

<script>

    new Vue({
        el: "#app",
        data: {

            statusData: {}

        },
        methods: {

            getStatus() {


                axios.get('/getStatus')
                    .then((response) => {
                        console.log(response.data);

                        this.statusData = response.data;

                    })


            },
            /**
             * 停止进程
             * @param item
             */
            stopProcess(item) {


                axios.get("/stopProcess?name=" + item.name).then((re) => {


                    this.getStatus();

                })

            },
            startProcess(item){


                axios.get("/StartCmdByName?name="+item.name).then((re)=>{

                    this.getStatus();

                })


            },
            reloadProcess(item){

                axios.get("/reloadProcess?name="+item.name).then((re)=>{

                    this.getStatus();

                })

            }

        },
        created() {

            this.getStatus();

        }

    });


</script>
</html>